@forward 'Base/index';
@forward 'Util/index';
@mixin d{
     width: 70px;
     height: 1px;
     background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
}
@mixin p{
     
          font-family: "Space Grotesk";
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 155.556% */
          letter-spacing: -0.36px;
          background: var(--P, linear-gradient(91deg, #351EE0 0%, #3F74EF 100%));
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
     
}
@mixin h2{
     color:  #05092B;
     font-family: "Space Grotesk";
     font-size: 32px;
     font-style: normal;
     font-weight: 500;
     line-height: 40px; /* 125% */
     letter-spacing: -0.64px;
}
@mixin h3{
     color: var(--900, #05092B);
     font-family: "Space Grotesk";
     font-size: 22px;
     font-style: normal;
     font-weight: 700;
     line-height: 36px; /* 163.636% */
}

header{
     max-width: 1920px;
     height: 70px;
     background: #ECF0FB;
     .container{
          display: flex;
          justify-content: space-between;
          align-items: center;
         
           ul{
               display: flex;
               align-items: center;
               gap: 30px;
               padding: 20px;
               li{
                    .fa-solid {
                         font-size: 16px;
                         font-style: normal;
                         font-weight: 900;
                         background: var(--P, linear-gradient(91deg, #351EE0 0%, #3F74EF 100%));
                         background-clip: text;
                         -webkit-background-clip: text;
                         -webkit-text-fill-color: transparent;
                    };
                    span{
                         color: #05092B;
                         font-size: 18px;
                         font-weight: 400;
                         line-height: 28px; /* 155.556% */
                         letter-spacing: -0.36px;
                         margin-right: 3px;
                    }
                    .fa-brands{
                         color:  #05092B;
                         font-size: 15px;
                         font-weight: 400;
                         width: 10px;
                         height: 14.973px;
                    }
               }
          }
     }
}
// navbar
nav{
     max-width: 1920pz;
     width: 100%; //change
     height: 100px;
     .container{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .logo{
               display: flex;
               align-items: center;
               gap: 10px;
               img{
                    width: 40px;
                    height: 40px;
               }
               h3{
                    color:  #05092B;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 68px; /* 226.667% */
                    letter-spacing: -1.48px;
               }
          }
          ul {
               display: flex;
               align-items: center;
               gap: 24px;
               li{
                    a{
                         display: flex;
                         align-items: center;
                         gap: 5px;
                         text-decoration: none;
                         span{
                              color:   #05092B;
                              font-size: 18px;
                              font-weight: 400;
                              line-height: 26px; 
                              font-family: "Space Grotesk";
                              display: inline-block;
                              transition: all 0.3s ease-in-out;
                         }
                         .fa-solid{
                              color: #05092B;
                              font-size: 10px;
                              font-weight: 900;
                         }
                    }
                    
               }
          }
          .btn{     
               height: 60px;
               padding: 20px 40px;
               border-radius: 5px;
               background:   linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
               box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
               span{
                    color:   #FFF;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 30px; /* 166.667% */
               }
          }
     }
}
// clamber
.brad-clambr{
     max-width: 1920px;
     height: 440px;
     background-image: url('../../img/Rectangle-3096.png');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     z-index: 1;
     position: relative;
      &::before{
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
          background: #05092B;
          opacity: 0.5;
      }
    h2{
     color:   #FFF;
     font-size: 74px;
     font-weight: 700;
     line-height: 84px; /* 113.514% */
     letter-spacing: -1.48px;
     top: 150px;
     left: 40%;
     position: absolute;
    }
    .title{
     position: absolute;
     top: 270px;
     left: 46%;
      
     i{
          color: #FFF;
     }
      span{
          color: #FFF;
          font-size: 22px;
          font-weight: 700;
          line-height: 36px;  
          padding: 0 4px;
      }
    }
}
// details
.details{
     
     // height: 1399px;
     margin-top: 120px;
     display: flex;
     // justify-content: space-between;
     // align-items: center;
     gap: 30px;
      .img-div{
         
          img{
               
               width: 520px;
               height: 638px;
               border-radius: 5px;
          }
      }
      .details-text{
          h2{
               color:#05092B;
               font-family: "Space Grotesk";
               font-size: 32px;
               font-weight: 500;
               line-height: 40px; /* 125% */
               letter-spacing: -0.64px;
               margin-top: 15px;
          }
          .text2{
               display: flex;
               align-items: center;
               gap: 10px;
                     .d{
                     @include d;
               }
               p{
                   @include p;
               }
          }
          .pera{
               color:#737373;
               font-family: "Space Grotesk";
               font-size: 18px;
               font-style: normal;
               font-weight: 400;
               line-height: 28px; /* 155.556% */
               letter-spacing: -0.36px;
          }
          h2{
               @include h2;
          }
          ul{
               display: grid;
               grid-template-columns: repeat(2,1fr);
               li{
                    display: flex;
                    gap: 10px;
                    h4{
                         color:#05092B;
                         font-family: "Space Grotesk";
                         font-size: 18px;
                         font-style: normal;
                         font-weight: 700;
                         line-height: 30px; /* 166.667% */
                    }
               }
          }
          .text-f{
               display: flex;
               align-items: center;
               gap: 82px;
               margin-top: 104px;
               .contact{
                    display: inline-flex;
                    padding: 20px 30px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
                    color: #FFF;
                     
                    span{
                         color:#FFF;
                         text-align: center;
                         font-family: "Space Grotesk";
                         font-size: 18px;
                         font-style: normal;
                         font-weight: 700;
                         line-height: 30px; /* 166.667% */
                    };
                     
                     
                    .flow{
                         color:#737373;
                         text-align: center;          
                         font-family: "Space Grotesk";
                         font-size: 18px;
                         font-style: normal;
                         font-weight: 400;
                         line-height: 28px; /* 155.556% */
                         letter-spacing: -0.36px;
                          padding-left: 82px;
                           
                    }
               }
                
          }
      }
      
}
.cards{
     margin-top: 60px;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-gap: 30px;
     .box{
          width: 410px;
          img{
               width: 410px;
               height: 415px;
               border-radius: 5px;
          }
          .box-t{
               h2{
                   @include h2;
               }
               .text2{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .d{
                         @include d;
                    }
                    p{
                         @include p;
                         height: 28px;
                    }
               }
              
          }
     }
 }
 .hr{
     width: 1290px;
     height: 1px;
     background: #CCC;
     margin-top: 70px;
     margin-bottom: 60px;
 }
 .pagination{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 32px;
     .pagi{
           display: flex;
           align-items: center;
           gap: 20px;
           i{
               
               font-size: 16px;
               font-style: normal;
               font-weight: 900;
               line-height: normal;
               background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
               background-clip: text;
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
           }
           span{
               @include h3;

           }
     }
 }

// footer
footer{
     // margin-top: -90px;
     max-width: 1920px;
     height: 614px;
     background:   #05092B;
     
     .foot{
          margin-top: 400px;
          
          width: 1290px;
          margin: 0 auto;
          display: grid;
          grid-template-columns: repeat(4,1fr);
          grid-gap: 30px;
          .first{
               margin-top: 191px;
               .logo{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    img{
                         width: 40px;
                         height: 40px;
                    }
                    h3{
                         color:  #fff;
                         font-size: 30px;
                         font-weight: 700;
                         line-height: 68px; /* 226.667% */
                         letter-spacing: -1.48px;
                    }
               }
               .pera{
                    width: 300px;
                    color:#FFF;
                    font-family: "Space Grotesk";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px; /* 155.556% */
                    letter-spacing: -0.36px;
               }
               h4{
                    color:#FFF;
                    font-family: "Space Grotesk";
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 30px; /* 166.667% */
               }
               ul{
                    margin-top: 20px;
                    // margin-bottom: 70px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    li{
                         width: 35px;
                         height: 35px;
                         border-radius: 5px;
                         border: 1px solid   #FFF;
                         opacity: 0.3;
                         position: relative;
                         i{
                              width: 14px ;
                              height: 12.39px;
                              color:   #FFF;
                              font-size: 14px;
                              font-weight: 400;
                              position: absolute;
                              top:10px;
                              left:10px;
                         }
                         &:hover{
                              background:linear-gradient(91deg, #351EE0 0%, #3F74EF 100%)
                         }
                    }
               }
          }
          .second{
               margin-top: 191px;
               h3{
                    color:   #FFF;
                    font-family: "Space Grotesk";
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 36px; /* 163.636% */
               }
               ul{
                   
                    li{
                         .fa-solid {
                              font-size: 16px;
                              padding: 20px 0;
                              font-weight: 900;
                              background:   linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
                              background-clip: text;
                              -webkit-background-clip: text;
                              -webkit-text-fill-color: transparent;
                         };
                         span{
                              color:   #FFF;
                               margin-left: 3px;
                              font-family: "Space Grotesk";
                              font-size: 18px;
                              font-style: normal;
                              font-weight: 400;
                              line-height: 28px; /* 155.556% */
                              letter-spacing: -0.36px;

                         }
                          
                    }
               }
          }
          .third{
               margin-top: 191px;
              
               h3{
                    color:   #FFF;
                    font-family: "Space Grotesk";
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 36px; /* 163.636% */
               }
               ul{
                    li{
                         padding: 15px 0;
                         a{
                              i{
                                   background:   linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
                                   background-clip: text;
                                   -webkit-background-clip: text;
                                   -webkit-text-fill-color: transparent;
                              }
                              span{
                                   color:  #FFF;
                                   font-family: "Space Grotesk";
                                   font-size: 18px;
                                   font-weight: 400;
                                   line-height: 28px; /* 155.556% */
                                   letter-spacing: -0.36px;
                                   margin-left: 12px;
                              }
                         }
                    }
               }
          }
          .forth{
               margin-top: 191px;
               // border: 2px solid gray;
               h3{
                    color:  #FFF;
                    font-family: "Space Grotesk";
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 36px; 
                    // margin-bottom: 24px;/* 163.636% */
               }
               li{
                    color:#FFF;
                    font-family: "Space Grotesk";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px; /* 155.556% */
                    letter-spacing: -0.36px;
                    margin-left: 5px;
                    padding: 24px 0;
                    i{
                         font-size: 14px;
                         font-weight: 400;
                         background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
                         background-clip: text;
                         -webkit-background-clip: text;
                         -webkit-text-fill-color: transparent;
                         margin-right: 5px;
                    }
               }
               h4{
                    width: 200px;
                    color: #fff;
                    font-family: "Space Grotesk";
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 30px; /* 166.667% */
               }
          }
            
            
     }
     .bor{
          margin: 0 auto;
          width: 1290px;
          height: 1px;
          background: #fff;
          opacity: 0.2;
     }
     .copy-right{
          // margin: 30px;
          width: 1290px;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
          p{
               color:   #FFF;
               font-family: "Space Grotesk";
               font-size: 18px;
               font-weight: 400;
               line-height: 26px; /* 144.444% */
               opacity: 0.7;
               padding-top: 30px ;
          }
          .ri{
               display: flex;
               align-items: center;
               gap: 20px;
               li{
                    color: #FFF;
                    font-family: "Space Grotesk";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px; /* 144.444% */
               }
          }
     }
      
}